html,
body,
*{
  margin: 0;
  padding: 10;
  box-sizing: border-box;
  font-size: 62.5%; 
}
:root{
  /*Typography*/
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}
h1, h2, h3, h4, h5{
    text-align: center;
}
body{
    background-color: rgb(196, 196, 196);
}
.title{
    text-align: center;
    font-size: var(--h1) ;
}
.calculator{
/* height: 100vh;
width: 10vw; */
font-size: var(--h3);
margin-left: auto;
margin-right: auto;
margin-top: 5rem;
background-color: rgb(136, 136, 136);
width: 40vw; height: 45vh; 
border-radius: 3rem;
border-color: rgb(100, 100, 100);
border-style: solid;
border-width: 1rem;
}
button{
  font-size: var(--h3);
  width: 6vw; height: 7vh;
  border-radius: 1rem;
  align-items: center;
   background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
   margin: 1rem;
}
button:hover {
  cursor: pointer;
  background-image: linear-gradient(to top, #D8D9DB 0%, #e6e3e3 80%, #dad7d7 100%);
}
.result{
  background-color: rgb(255, 255, 255);
  height: 15vh; width: 30vw;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto; margin-right: auto;
}
.resultnum{
  font-size: var(--h2);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  margin-top: 10px;
}
form{
  display: flex;
  flex-direction: row;
  margin-left: auto; margin-right: auto;
}