html,
body,
*{
  margin: 0;
  padding: 10;
  box-sizing: border-box;
  font-size: 62.5%; 
}
:root{
  /*Typography*/
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}
h1, h2, h3, h4, h5{
    text-align: center;
}
body{
    background-color: rgb(196, 196, 196);
}
.title{
    text-align: center;
    font-size: var(--h1) ;
}
.calculator{
height: 10vh;
width: 10vw;
font-size: var(--h3);
margin-left: 65rem;
margin-top: 5rem;
background-color: rgb(136, 136, 136);
width: 30vw; height: 80vh; 
}
button{
  font-size: var(--h3);
  width: 6vw; height: 7vh;
  border-radius: 1rem;
  align-items: center;
}
.numbers{
  margin-top: 10rem;
}