html,
body,
*{
  margin: 0;
  padding: 10;
  box-sizing: border-box;
  font-size: 62.5%; 
}
:root{
  /*Typography*/
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}
h1, h2, h3, h4, h5{
    text-align: center;
}
body{
    background-color: rgb(196, 196, 196);
}
.title{
    text-align: center;
    font-size: var(--h1) ;
}
form{
align-items: center;
display: flex;
height: 10vh;
width: 10vw;
display: flex;
align-items: center;
font-size: var(--h3);
margin-left: 68rem;
margin-top: 5rem;
}
